<div class="flex flex-col justify-center items-center min-h-[60%] pt-8 max-w-[5]">
    <p-stepper [(value)]="activeStep" class="w-full max-w-[40rem] mx-auto" [linear]="true">
        <p-step-list>
            <p-step [value]="1" class="flex flex-row flex-auto gap-2">
                <ng-template #content let-activateCallback="activateCallback" let-value="value">
                    <button class="bg-transparent border-0 inline-flex flex-col gap-2" (click)="activateCallback()">
                        <span class="rounded-full border-2 w-14 h-14 inline-flex items-center justify-center" [ngClass]="{
                  'bg-primary text-primary-contrast border-primary': value <= activeStep,
                  'border-surface': value > activeStep
                }">
                            <i class="pi pi-user rounded"></i>
                        </span>
                    </button>
                </ng-template>
            </p-step>

            <p-step [value]="2" class="flex flex-row flex-auto gap-2">
                <ng-template #content let-activateCallback="activateCallback" let-value="value">
                    <button class="bg-transparent border-0 inline-flex flex-col gap-2" (click)="activateCallback()">
                        <span class="rounded-full border-2 w-14 h-14 inline-flex items-center justify-center" [ngClass]="{
                  'bg-primary text-primary-contrast border-primary': value <= activeStep,
                  'border-surface': value > activeStep
                }">
                            <i class="pi pi-star"></i>
                        </span>
                    </button>
                </ng-template>
            </p-step>

            <p-step [value]="3">
                <ng-template #content let-activateCallback="activateCallback" let-value="value">
                    <button class="bg-transparent border-0 inline-flex flex-col gap-2" (click)="activateCallback()">
                        <span class="rounded-full border-2 w-14 h-14 inline-flex items-center justify-center" [ngClass]="{
                  'bg-primary text-primary-contrast border-primary': value <= activeStep,
                  'border-surface': value > activeStep
                }">
                            <i class="pi pi-id-card"></i>
                        </span>
                    </button>
                </ng-template>
            </p-step>
        </p-step-list>

        <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <p-step-panels>
            <p-step-panel [value]="1">
                <ng-template #content let-activateCallback="activateCallback">
                    <div class="flex flex-col gap-3 mx-auto" style="min-height: 16rem; max-width: 20rem">
                        <div class="text-center mt-4 mb-4 text-xl font-semibold">Enter your old password</div>
                        <div>
                            <input formControlName="currentPassword" pInputText id="input" type="password" placeholder="Current Password" fluid />
                        </div>
                    </div>
                    <div class="flex pt-6 justify-end">
                        <p-button [dt]="buttonDesignToken" (onClick)="activateCallback(2)" label="Next" icon="pi pi-arrow-right"
                            iconPos="right" />
                    </div>
                </ng-template>
            </p-step-panel>

            <p-step-panel [value]="2">
                <ng-template #content let-activateCallback="activateCallback">
                    <div class="flex flex-col gap-2 mx-auto" style="min-height: 16rem; max-width: 24rem">
                        <div class="text-center mt-4 mb-4 text-xl font-semibold">Enter your new password</div>
                        <div>
                            <input formControlName="newPassword" pInputText id="input" type="password"  placeholder="New Password" fluid />
                        </div>
                        <div>
                            <input formControlName="confirmPassword" pInputText id="input" placeholder="Confirm Password" fluid />
                        </div>
                    </div>
                    
                    <div class="flex pt-6 justify-between">
                        <p-button (onClick)="activateCallback(1)" label="Back" severity="secondary"
                            icon="pi pi-arrow-left" />
                        <p-button [dt]="buttonDesignToken" type="submit" (onClick)="activateCallback(3)" label="Next" icon="pi pi-arrow-right"
                            iconPos="right" />
                    </div>
                </ng-template>
            </p-step-panel>

            <p-step-panel [value]="3">
                <ng-template #content let-activateCallback="activateCallback">
                    <div class="flex flex-col gap-2 mx-auto" style="min-height: 16rem; max-width: 24rem">
                        <div class="text-center mt-4 mb-4 text-xl font-semibold">
                            Your password has been successfully reset.
                        </div>
                        <div class="flex flex-col justify-center items-center">
                            <img alt="logo" src="https://primefaces.org/cdn/primeng/images/stepper/content.svg" />
                        </div>
                    </div>
                    <div class="flex pt-6 justify-start">
                        <p-button (onClick)="activateCallback(2)" label="Back" severity="secondary"
                            icon="pi pi-arrow-left" />
                    </div>
                </ng-template>
            </p-step-panel>
        </p-step-panels>
        </form>
    </p-stepper>
</div>