<div class="bg-[#293a4e] text-white min-h-[78vh] flex items-start pt-36 bg-[url(\public\noise.png)]">
  <div class="max-w-7xl mx-auto px-4 w-full flex flex-col md:flex-row items-center justify-between gap-8">
    <div class="md:w-1/2">
      <h1 class="text-5xl md:text-7xl font-semibold mb-4">
        Build a home for your portfolio collections.
      </h1>
      <p class="text-2xl leading-relaxed text-[#FAF9F6] w-[90%]">
        Have a project you want to show off? Showcase your creations with the help of Malafaty's seamless tools. 
      </p>
      <button [dt]="getStartedToken" pButton pRipple severity="primary" class="mt-5">
        <span pButtonLabel>GET STARTED</span>
        <WindowMaximizeIcon pButtonIcon />
    </button>
    </div>
    <div class="md:w-1/3 flex justify-center md:justify-end relative">
      <img src="hero.webp" alt="Image" class="w-[1000px] h-auto max-w-none md:mr-[-20rem]" />
    </div>
  </div>
</div>