:host{
    font-family: 'Montserrat', serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    font-size: 18px;
}

:host ::ng-deep .p-menubar {
    justify-content: center; 
  }

:host ::ng-deep .p-menubar-start {
    margin-left: 10rem;
    
  }

:host ::ng-deep .p-menubar-end {
    margin-left: 20rem;
  }
  