<div class="bg-[#293a4e] text-white py-16 mt-28">
  <div class="max-w-7xl mx-auto px-4 flex flex-col md:flex-row items-center justify-between gap-8">
    <div class="md:w-1/2">
      <h1 class="text-5xl md:text-6xl font-semibold mb-4">
        Build a home for your portfolio collections.
      </h1>
      <p class="text-lg md:text-x1 leading-relaxed">
        Have a project you want to show off? Showcase your creations with the help of Malafaty's seamless tools.
      </p>
    </div>

    <div class="md:w-1/2 flex justify-center md:justify-end">
      <p-image src="\apps\portfolio-app\public\Picture2.png" alt="Hero main image" class="max-w-sm h-auto" />
    </div>
  </div>
</div>