
:host {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt'; 
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}


:host ::ng-deep .p-fileupload-choose-button{
  background-color: #131C22;
  border: none;
  color: white;
}

:host ::ng-deep .p-fileupload-choose-button:hover{
  background-color: #1C2933;
  border: none;
  color: white;
}

:host ::ng-deep .p-splitbutton-button{
  background-color: #131C22;
  color: white;
  border: none;
}

:host ::ng-deep .p-splitbutton-button:hover{
  background-color: #1C2933;
  border: none;
  color: white;
}

:host ::ng-deep .p-splitbutton-dropdown{
  background-color: #131C22;
  border: none;
  color: white;
}

:host ::ng-deep .p-splitbutton-dropdown:hover{
  background-color: #1C2933;
  border: none;
  color: white;
}




