<div class="flex flex-col items-center justify-center min-h-screen bg-slate-800 p-4">
    <div class="w-full max-w-3xl bg-white shadow-lg rounded-lg p-8 relative">
        <h2 class="text-2xl font-normal mb-4 text-left text-slate-600">Portfolio</h2>

        <form [formGroup]="form" class="space-y-6">
            <div class="flex flex-col">
                <p-inputgroup class="mb-2">
                    <p-inputgroup-addon>
                        <i class="pi pi-hashtag"></i>
                    </p-inputgroup-addon>
                    <p-floatlabel>
                        <input formControlName="portTitle" pInputText id="title" class="p-inputtext p-component" />
                        <label for="title">Title</label>
                    </p-floatlabel>
                </p-inputgroup>
            </div>


            <div class="flex flex-col">
                <p-inputgroup class="mb-2">
                    <p-inputgroup-addon>
                        <i class="pi pi-comments"></i>
                    </p-inputgroup-addon>
                    <p-floatlabel>
                        <textarea formControlName="portDesc" pTextarea id="description" rows="5" cols="61" style="resize: none"
                            class="p-inputtext border p-component"></textarea>
                        <label for="summary">Description</label>
                    </p-floatlabel>
                </p-inputgroup>
            </div>

            <div formGroupName="dateRange" class="flex flex-col">
                <div class="flex space-x-4">
                    <div class="flex flex-col w-1/2">
                        <p-floatlabel variant="over">
                            <p-datepicker formControlName="portStartDate" [showIcon]="true" inputId="start_date" [showOnFocus]="false"
                                class="mr-2" />
                            <label for="start_date">Start Date</label>
                        </p-floatlabel>
                    </div>

                    <div class="flex flex-col w-1/2">
                        <p-floatlabel variant="over">
                            <p-datepicker [formControl]="this.form.controls.portEndDate" [showIcon]="true" inputId="end_date" [showOnFocus]="false"
                                class="mr-2" />
                            <label for="end_date">End Date</label>
                        </p-floatlabel>
                    </div>
                </div>
            </div>
            <app-project></app-project>
            <div class="flex flex-col mb-4">
                <p-toolbar>
                    <ng-template #start>
                        <p-button icon="pi pi-plus" class="mr-2" text severity="secondary" />
                        <p-button icon="pi pi-print" class="mr-2" text severity="secondary" />
                        <p-button icon="pi pi-upload" text severity="secondary" />
                    </ng-template>
                    <ng-template #end>
                        <p-splitbutton label="Save" [model]="splitIems" />
                    </ng-template>
                </p-toolbar>
            </div>
            
        </form>
    </div>
</div>