<!-- eslint-disable @angular-eslint/template/alt-text -->
<div class="bg-white text-black py-16">
  <div class="max-w-7xl mx-auto px-4">
    <div class="flex flex-col md:flex-row items-start md:items-center justify-between gap-8 mb-10">
      <div class="flex-1">
        <h2 class="text-4xl md:text-5xl font-bold mb-4">
          Pick your starting point
        </h2>
      </div>
    </div>
    @defer () {
      <div pAnimateOnScroll enterClass="animate-fadein" leaveClass="animate-fadeout" class="flex flex-col md:flex-row gap-8">
        <div class="bg-[#fcebe3] p-6 flex-1">
          <img src="starting-2.webp" class="mb-4" />
          <p class="text-6xl font-semibold text-center">Why wait for them? Start now.</p>
        </div>
  
        <div pAnimateOnScroll enterClass="animate-fadein" leaveClass="animate-fadeout" class="bg-[#f8f8f4] p-6 flex-1">
          <img src="starting-1.webp" alt="Fillmore sample" class="mb-4 h-[77%] w-full " />
          <p class="text-6xl font-semibold text-center">Show off your creations.</p>
        </div>
      </div>
    }
    
  </div>
</div>